{% extends 'base.html' %} 
{% block content %}
<section class='container-fluid p-5'>
    <div class="row text-center">
        <div class="plant-img col-md-4 col-12 text-center mb-3">
            <img src="/static/images/{{data.plant_image}}" class=''/>
        </div>
        <div class="col-md-8 col-12">
            <div class="rounded border p-5">
                <div>   
                    <h2>Gardening, a step towards a better future !</h2>
                    <p class="text-danger"><i> 
                        Do you really want to remove {{ data.plant_name }} ? This process cannot be undone.
                    </i></p>
                </div>
                <div>
                    <a class="btn btn-light text-dark mr-1" href="{{ url_for('index') }}">Cancel</a>
                    <a class="btn btn-danger text-light ml-1" href="{{ url_for('delete_plant', plant_id=data['_id']) }}">Delete</a>
                </div>
            </div>
            
        </div>
    </div>
</section>
{% endblock %}
