{% extends 'base.html' %} 
{% block content %}
<section class='container-fluid p-3'>
    <div class="row text-center">
        <div class="plant-img col-12 text-center">
            <img src="/static/images/{{data.plant_image}}" class=''/>
        </div>
        <div class="col-md-8 col-12 mx-auto">
            <div class="rounded p-5">
                <div>   
                    <h4>Gardening, a step towards a better future !</h4>
                    <small class="text-danger"><i> 
                        Do you really want to remove {{ data.plant_name }} ? This process cannot be undone.
                    </i></small>
                </div>
                <div class='mt-2'>
                    <a class="btn btn-light text-dark mr-1" href="{{ url_for('plants') }}">Cancel</a>
                    <a class="btn btn-danger text-light ml-1" href="{{ url_for('delete_plant', plant_id=data['_id']) }}">Delete</a>
                </div>
            </div>
            
        </div>
    </div>
</section>
{% endblock %}
