{% extends 'base.html' %} {% block page_title %}Hello, world!{% endblock %} {% block content %}
<main class='container-fluid'>
    <div class="row">
        <div id='side-banner' class="col-3"></div>
        <div class="col-9 p-5">
            <h1>Pick A Plant </h1>
            <a class="nav-link" href="{{ url_for('new_plant') }}">Add a new plant for sale </a>
            <div class="row">
                {% for d in data %}
                <div class="bio-box col-4 p-1">
                    <div class="row">
                        <!--Display image-->
                        <div class="col-11 d-flex">
                            <div class="listing text-center mx-auto">
                                <img src='static/images/{{ d.plant_image }}' />
                            </div>
                            <div>
                                <a class="close" href="{{ url_for('confirm_delete') }}"><small>&#x2716</small></a>
                            </div>
                            
                        </div>
                        <!--Plant bio-->
                        <div class="col-11 mx-auto d-flex align-items-end flex-column px-1">
                            <!--Display plant name-->
                            <div class="p-2 w-100">
                                <strong>{{ d.plant_name }}</strong> <small><i><a href="{{ url_for('make_changes', plant_id=d['_id'], image=d['plant_image']) }}">(make changes)</a></i></small>
                            </div>
                            <div class="p-2 w-100">
                                <small>{{ d.plant_info }}</small>
                            </div>
                            <div class="mt-auto p-2 w-100">
                                <button class="btn-btn-light">$ {{ d.plant_price }}</button>
                            </div>
                        </div>


                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</main>
{% endblock %}
