{% extends 'base.html' %} 
{% block page_title %}Pick Your Own Plants | Enjoy fresh air everyday{% endblock %} 
{% block content %}
<main class='container-fluid p-3'>
    <!--Search bar-->
    <div class="row px-5 py-md-3 py-2">
        <div class="col-md-4 col-12 mx-auto">
            <form class='form-group border border-success'>
                <input type="text" name="search-bar" class='form-control' placeholder='Find your plant..'/>
            </form>
        </div>
    </div>
    <!--header and about us write-up-->
    <div class='text-center jumbotron row mb-md-5'>
        <div class="col-12">
        <h1>PICK YOUR PLANTS</h1>
        </div>
        <div class="col-9 mx-auto">
        <p class='text-justify'>We are here to help strengthen your relationship with plants. We make buying plants easy by delivering healthy, ready-to-go plants to your door and setting you up with the tips and tricks you need to help your plants thrive. Plants make life better. We make plants easy.</p>
        </div>
    </div>
    <!--Highlights about company-->
    <div class="row">
        <div class="col-md-6 col-12 main-images d-flex align-items-center justify-content-end py-md-5 py-1">
            <img src="static/images/space-pot-left.jpg" class='rounded p-md-5 p-1'/>
        </div>
        <div class="col-md-6 col-12 d-flex align-items-center justify-content-center">
            <div>
                <h3>Fill the gaps with Plants</h3>
                <p>Our home need green space and plants are the best way to fills the gap</p>
            </div>
        </div>
    </div>
    
     <div class="row">
        <div class="swap col-md-6 col-12 d-flex align-items-center justify-content-center">
            <div class='pl-md-5 p-1'>
                <h3>Plants comes in different Sizes</h3>
                <p>We have a variety of plants to fill your house. From cactus for your desk to palm trees for your garden</p>
            </div>
        </div>
        <div class="col-md-6 col-12 main-images d-flex align-items-center justify-content-end py-md-5 py-1">
            <img src="static/images/girl_hold_plant.jpg" class='rounded p-md-5 p-1'/>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-6 col-12 main-images d-flex align-items-center justify-content-end py-md-5 py-1">
            <img src="static/images/heart_plant.jpg" class='rounded p-md-5 p-1'/>
        </div>
        <div class="col-md-6 col-12 d-flex align-items-center justify-content-center">
            <div>
                <h3>Trees possess healing powers</h3>
                <p>
                    Place your hands on the bark<br/> 
                    Hold on for just a few minutes<br/> 
                    Feel the Nature's pure energy
                </p>
            </div>
        </div>
    </div>


</main>

{% endblock %}
