{% extends 'base.html' %}
{% block page_title %}Hello, world!{% endblock %}
{% block content %}
<section class='container-fluid p-5'>
    <div class="row">
        <div class="col-4" style="height:100vh; width:100%;">
            <img src="/static/images/new_recipe_plant.png" style="height : auto; width:100%;"/>
        </div>
        <div class="col-8">
            <div>   
                <h2>The More Plants, The Merrier !</h2>
            </div>
            <hr/>
            <form method='POST' enctype='multipart/form-data'>
                    
                <!--New plant name-->
                <div class="form-group row">
                    <label for="plant_name" class="col-sm-3 ">Plant Name</label>
                    <div class="col-1">:</div>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="plant_name" name="plant_name" placeholder="Share with us the plant name">
                    </div>
                </div>
               
                <!--Plant info-->
                <div class="form-group row">
                    <label for="plant_info" class="col-sm-3 col-form-label">Description : </label>
                    <div class="col-1">:</div>
                    <div class="col-sm-8">
                        <textarea class="form-control" id="plant_info" name='plant_info'></textarea>
                        <small class="form-text text-muted">
                          Tell us more about this plant to attract your audience.
                        </small>
                    </div>
                </div>
                
                <!--Price of plant-->
                <div class="form-group row">
                    <label for="plant_price" class="col-sm-3 ">Selling Price ($)</label>
                    <div class="col-1">:</div>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="plant_price" name="plant_price" placeholder="0.00 ">
                    </div>
                </div>

                <!--Plant picture-->
                <div class="form-group row">
                    <label for='plant_image' class="col-sm-3 col-form-label">File Upload</label>
                    <div class="col-1">:</div>
                    <div class="col-sm-8">
                        <input type='file' class="form-control" id="plant_image" name='plant_image' />
                    </div>
                </div>
 
                <!--Submit button-->
                <div class="form-group row">
                    <div class="col-sm-3"></div>
                    <div class="col-1"></div>
                    <div class='col-sm-8'>
                        <button type='submit' class='bg-success rounded text-light py-2 w-100'>Add to Inventory</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}
  