{% extends 'base.html' %}
{% block content %}
<section class='container-fluid p-md-5 p-2'>
    <div class="row">
        <div class="main-images d-md-block text-center d-none col-4">
            <img src="/static/images/girl_hold_plant.jpg"/>
        </div>
        <div class="col-md-8 col-12">
            <div>   
                <h4>Enter the new plant information below.</h4>
            </div>
            <hr/>
            <form method='POST' enctype='multipart/form-data'>
                    
                <!--New plant name-->
                <div class="form-group row">
                    <label for="plant_name" class="col-md-4 ">Plant Name :</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="plant_name" name="plant_name" placeholder="Plant Name">
                    </div>
                </div>
               
                <!--Plant info-->
                <div class="form-group row">
                    <label for="plant_info" class="col-md-4 col-form-label">Description : </label>
                    <div class="col-sm-8">
                        <textarea class="form-control" id="plant_info" name='plant_info'></textarea>
                        <small class="form-text text-muted">
                          Tell us more about this plant to attract your audience.
                        </small>
                    </div>
                </div>
                
                <!--Price of plant-->
                <div class="form-group row">
                    <label for="plant_price" class="col-md-4 ">Selling Price ($) :</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="plant_price" name="plant_price" placeholder="0.00 ">
                    </div>
                </div>

                <!--Plant picture-->
                <div class="form-group row">
                    <label for='plant_image' class="col-md-4 col-form-label">Plant Image Upload :</label>
                    <div class="col-sm-8">
                        <input type='file' class="form-control" id="plant_image" name='plant_image' />
                    </div>
                </div>
 
                <!--Submit button-->
                <div class="form-group row">
                    <div class="col-sm-3"></div>
                    <div class="col-1"></div>
                    <div class='col-sm-8'>
                        <button type='submit' class='bg-success rounded text-light py-2 w-100'>Add to Inventory</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}
  